@(record: HarvestRecord, add_form: Form[HarvestRecord], harvestTypes: List[HarvestType])
    
@import helper._

@main("Eintrag bearbeiten") {
    <h1>Eintrag bearbeiten</h1>
    @helper.form(routes.HarvestRecords.update(record.id)) {
    <div class="form_row">
        <div class="left">
            @inputText(add_form("number"), '_label -> "Nummer")
        </div>
        <div class="right">
            @inputText(add_form("date"), '_label -> "Datum", 'type -> "date", 'class -> "datepicker")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @inputText(add_form("description"), '_label -> "Beschreibung")
        </div>
        <div class="right">
            @inputText(add_form("weight"), '_label -> "Gewicht")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @inputText(add_form("waterContent"), '_label -> "Wassergehalt")
        </div>
    </div>
    <div class="form_row">
        <div class="left">
            @select(
                field = add_form("harvestType.id"),
                options = harvestTypes.map(harvestType => harvestType.id.toString -> harvestType.name),
                '_label -> "Typ"
            )
        </div>
    </div>
    <div class="form_row">
        <button type="submit">Speichern</button>
    </div>
    }
    
    <script>
      $(function() {
        var $date = $(".datepicker").val();
        $(".datepicker").datepicker();
        $(".datepicker").datepicker("option", "dateFormat", "yy-mm-dd").datepicker("setDate", $date);
      });
    </script>
}