@(records: List[HarvestRecord])(implicit request: play.mvc.Http.Request)

@main("Übersicht Ernten") {
    <table class="table">
        <thead>
            <tr>
                <th>Los-Nr.</th>
                <th>Datum</th>
                <th>Beschreibung</th>
                <th>Gewicht</th>
                <th>Wassergehalt/Alkoholgehalt %</th>
                <th>Typ</th>
                <th />
            </tr>
        </thead>
        <tbody>
        @for(record <- records) {
            <tr>
                <td><a href="@routes.HarvestRecords.show(record.getId())">@record</a></td>
                <td>@if(record.getDate() != null) { @record.getDate().format("dd.MM.yyy") }</td>
                <td>@record.getDescription()</td>
                <td>@record.getWeight()</td>
                <td>@record.getWaterContent()</td>
                <td>@record.getHarvestType()</td>
                <td>
                    <a href="@routes.HarvestRecords.show(record.getId())">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                    <a href="@routes.HarvestRecords.edit(record.getId())">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a href="@routes.HarvestRecords.delete(record.getId())">
                        <i class="del glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.HarvestRecords.add">Neue Ernte anlegen</a>
}