@(change_password_form: Form[Application.ChangePassword])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)
    
@import helper._

@main("Passwort ändern") {
    @helper.form(routes.Application.changePassword) {
    <h1>Passwort ändern</h1>
    
    @if(request.flash().get("success").isPresent) {
    <p class="success">
        @request.flash().get("success")
    </p>
    }
    
    @if(change_password_form.hasGlobalErrors) {
    <ul class="error">
        @if(change_password_form.globalErrors.size() > 0) {
            @for(error <- change_password_form.globalErrors) {
                <li>@error.message().toString()</li>
            }
        }
    </ul>
    }
    
    <p>
        @inputPassword(change_password_form("password"), Symbol("_label") -> "Passwort", Symbol("_showConstraints") -> false, Symbol("placeholder") -> "Passwort")
    </p>
    <p>
        @inputPassword(change_password_form("confirmPassword"), Symbol("_label") -> "Passwort wiederholen", Symbol("_showConstraints") -> false, Symbol("placeholder") -> "Passwort wiederholen")
    </p>
    <p>
        <button type="submit">Passwort ändern</button>
    </p>
    }
}