@()(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)

@main("Startseite eHonigbuch") {
    <h1>Übersicht</h1>
    
    @if(request.flash().get("success").isPresent) {
    <p class="successs">
        @request.flash().get("success")
    </p>
    }
    
    @if(Util.getUser(request) != null) {
      <p>
        Hallo @Util.getUser(request).getName()
      </p>
    }
    <p>
      <b>Online Honigbuch im Aufbau</b><br>
      bisher verfügbare Funktionen:
    </p>
    <ul>
        <li>Ernte erfassen</li>
        <li>Abfüllung erfassen</li>
    </ul>
}