@(login_form: Form[Application.Login])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)
    
@main("Login Honigbuch") {
    @if(request.flash().get("success").isPresent) {
    <p class="success">
        @request.flash().get("success")
    </p>
    }
    
    @helper.form(routes.Application.authenticate) {
    <h1>Sign in</h1>

    <p>
        <input type="text" name="username" placeholder="Benutzername" value="@login_form("username").value">
    </p>
    <p>
        <input type="password" name="password" placeholder="Passwort">
    </p>
    <p>
        <button type="submit">Login</button>
    </p>
    }
}