@(signup_form: Form[Application.Signup])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)
    
@import helper._

@main("Registrierung eHonigbuch") {
    @helper.form(routes.Application.createUser) {
    <h1>Registrieren</h1>
    
    @if(signup_form.hasGlobalErrors) {
    <ul class="error">
        @if(signup_form.globalErrors.size() > 0) {
            @for(error <- signup_form.globalErrors) {
                <li>@error.message().toString()</li>
            }
        }
    </ul>
    }
    
    <p>
        @inputText(signup_form("username"), Symbol("_label") -> "Benutzername", Symbol("_showConstraints") -> false, Symbol("placeholder") -> "Benutzername")
    </p>
    <p>
        @inputPassword(signup_form("password"), Symbol("_label") -> "Passwort", Symbol("_showConstraints") -> false, Symbol("placeholder") -> "Passwort")
    </p>
    <p>
        @inputPassword(signup_form("confirmPassword"), Symbol("_label") -> "Passwort wiederholen", Symbol("_showConstraints") -> false, Symbol("placeholder") -> "Passwort wiederholen")
    </p>
    <p>
        <button type="submit">Registrieren</button>
    </p>
    }
}