@(user_form: Form[User])(implicit request: play.mvc.Http.Request, messages: play.i18n.Messages)
    
@import helper._

@main("Benutzerprofil eHonigbuch") {
    @if(request.flash().get("success").isPresent) {
    <p class="success">
        @request.flash().get("success")
    </p>
    }
    
    @helper.form(routes.Application.userEdit) {
    <h1>Profil</h1>
    
    <a href="@routes.Application.password">Passwort ändern</a>
    
    <p>
        @inputText(user_form("name"), Symbol("_label") -> "Name*", Symbol("_showConstraints") -> false)
    </p>
    <p>
        @inputText(user_form("firstName"), Symbol("_label") -> "Vorname")
    </p>
    <p>
        @inputText(user_form("lastName"), Symbol("_label") -> "Nachname")
    </p>
    <p>
        @inputText(user_form("street"), Symbol("_label") -> "Straße")
    </p>
    <p>
        @inputText(user_form("zipCode"), Symbol("_label") -> "Postleitzahl")
    </p>
    <p>
        @inputText(user_form("city"), Symbol("_label") -> "Ort")
    </p>
    <p>
        @inputText(user_form("email"), Symbol("_label") -> "E-Mail", Symbol("_showConstraints") -> false)
    </p>
    <p>
        @inputText(user_form("telephone"), Symbol("_label") -> "Telefon")
    </p>
    <p>
        @inputText(user_form("registrationNumber"), Symbol("_label") -> "Registriernummer")
    </p>
    <p>
        <button type="submit">Speichern</button>
    </p>
    }
}